[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/pistache"]
	path = external/pistache
	url = https://github.com/pistacheio/pistache.git
[submodule "external/googletest"]
	path = src/rest-scratch-pistache/generated/external/googletest
	url = https://github.com/google/googletest
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "tests/external/googletest"]
	path = tests/test-data-scratch-cpp/external/googletest
	url = https://github.com/google/googletest
